build/*
bin/main
CMakeFiles/Makefile.cmake
.gitignore
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.16.3/CMakeCCompiler.cmake
CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.16.3/CMakeSystem.cmake
CMakeFiles/3.16.3/CompilerIdC/a.out
CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.16.3/CompilerIdCXX/a.out
CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/cmake_install.cmake
src/Makefile
src/CMakeFiles/CMakeDirectoryInformation.cmake
src/CMakeFiles/progress.marks
src/CMakeFiles/main.dir/build.make
src/CMakeFiles/main.dir/cmake_clean.cmake
src/CMakeFiles/main.dir/depend.make
src/CMakeFiles/main.dir/DependInfo.cmake
src/CMakeFiles/main.dir/flags.make
src/CMakeFiles/main.dir/link.txt
src/CMakeFiles/main.dir/progress.make
